fieldset{
  background-color: #CCFF66;
  float: left;
  padding:0%;
  padding-right: 20%;
  text-align: left;
}
#OtrosDatos{
  background-color: #CCFF66;
  float: left;
  padding:0%;
  padding-right: 20%;
  text-align: left;
}
